# Jetbrain's Softwares
.idea/

# Jupyter Files
.ipynb_checkpoints/

# compiled
.pyc
.DS_Store

# Images
*.jpg
*.png
*.tiff

**/__pycache__

**/bbox_chips
**/Neural-Networks-Basics-master

# Large pkl files
*.pkl